#!/usr/bin/env bash

# Directory Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# Weather
alias weather="curl wttr.in"

# AFK
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# ls on steroids
alias ls="ls -alh"

# Path entries in seperate lines
alias path="echo -e ${PATH//:/\\n}"

# Stop all containers
alias dstop="docker stop $(docker ps -a -q)"

# Remove all containers
alias dremove="docker rm $(docker ps -a -q)"
